{% extends 'modalTemplate.html.twig' %}

{% block modalTitle %}
	{#  {{ 'Entities.Group.Actions.updateGroup'|trans }}#}
	{{ 'Entities.Message.labels.preview' | trans }}
{% endblock %}

{% block modalContent %}
	{% if msgRcpt.content != 'V' %}
		<iframe style="width:100%;min-height:400px;border:none" src="{{ path('message_show_iframe_content', { 'partitionTag' : partitionTag, 'mailId' : mailId, 'rid' : rid, }) }}"></iframe>
		{% if not msgRcpt.isAmavisReleaseOngoing %}
            <div class="col-md-12 text-center">
                <a href="{{path('message_restore',{'partitionTag':msgRcpt.partitionTag,'mailId':msgRcpt.mailId | stream_get_contents ,'rid':msgRcpt.rid.id})}}" class='btn confirmModal btn-primary mr-2' data-dialog-title='{{ 'Message.Dialogs.confirmRestoreMsgtitle'|trans }}' data-dialog-content='{{ 'Message.Dialogs.confirmRestoreMsgContent'|trans }}' title='{{ 'Message.Actions.RestoreMessage'|trans }}'>
                    <span class="fas fa-download"></span>
                    {{ 'Message.Actions.Restore'|trans() }}
                </a>

                <a href="{{path('message_authorized',{'partitionTag':msgRcpt.partitionTag,'mailId':msgRcpt.mailId | stream_get_contents,'rid':msgRcpt.rid.id})}}" class='btn confirmModal btn-success' data-dialog-title='{{ 'Message.Dialogs.confirmAuthorizedMsgtitle'|trans }}' data-dialog-content='{{ 'Message.Dialogs.confirmAuthorizedMsgContent'|trans }}' title='{{ 'Message.Actions.AutorizedSender'|trans }}'>
                    <span class="fas fa-user-check "></span>
                    {{ 'Message.Actions.Autorized'|trans() }}
                </a>

                <a href="{{path('message_banned',{'partitionTag':msgRcpt.partitionTag,'mailId':msgRcpt.mailId | stream_get_contents,'rid':msgRcpt.rid.id})}}" class='btn confirmModal btn-dark' data-dialog-title='{{ 'Message.Dialogs.confirmBannedMsgtitle'|trans }}' data-dialog-content='{{ 'Message.Dialogs.confirmBannedMsgContent'|trans }}' title="{{ 'Message.Actions.BannedSender'|trans() }}">
                    <span class="fas fa-user-slash "></span>
                    {{ 'Message.Actions.Banned'|trans() }}
                </a>

                <a href="{{path('message_delete',{'partitionTag':msgRcpt.partitionTag,'mailId':msgRcpt.mailId | stream_get_contents,'rid':msgRcpt.rid.id })}}" class='btn  confirmModal btn-danger' data-dialog-title='{{ 'Message.Dialogs.confirmDeleteMsgtitle'|trans }}' data-dialog-content='{{ 'Message.Dialogs.confirmDeleteMsgContent'|trans }}' data-target='delete' title="{{ 'Message.Actions.DeleteMessage'|trans() }}">
                    <span class="fas fa-trash-alt "></span>
                    {{ 'Message.Actions.Delete'|trans() }}
                </a>
            </div>
        {% endif %}
	{% else %}
		<p class="text-center">
			{{ 'Generics.messages.cannotPreviewMailWithvirus' | trans }}
		</p>
	{% endif %}
{% endblock %}
