{% if msgRcpt.content != 'V' %}
	<div class="row">
		<div class="col-md-3 font-weight-bold">
			{{ 'Generics.fields.sender' | trans }}
		</div>
		<div class="col-md-9">
			{{ from }}
		</div>
		<div class="col-md-3  font-weight-bold">
			{{ 'Generics.fields.object' | trans }}
		</div>
		<div class="col-md-9">
			{{ subject}}
		</div>
		{% if attachments | length > 0 %}
			<div class="col-md-3  font-weight-bold">
				{{ 'Generics.fields.attachments' | trans }}
			</div>
			<div class="col-md-9">
				{% for attachment in attachments %}
					{{ attachment.getName() }}
					<br>
				{% endfor %}
			</div>
		{% endif %}
		<div class="col-md-12">
			{% if htmlBody %}
				{{ htmlBody | raw}}
			{% else %}
				{{ textBody }}
			{% endif %}
		</div>
	</div>
{% else %}
	<p class="text-center">
		{{ 'Generics.messages.cannotPreviewMailWithvirus' | trans }}
	</p>
{% endif %}
