{% import 'macro/_sortLink.html.twig' as sortLinkMacro %}

{#{% import _self as sortLinkMacro %}#}
{% extends 'base.html.twig' %}

{% block title %}
	{{'Entities.Message.index'|trans()}}
	{{subTitle|trans()|lcfirst}}
{% endblock %}

{% block body %}
	{% set _title = 'Entities.Message.index'|trans() ~ ' ' ~ subTitle|trans()|lcfirst ~ ' : ' ~  messagesRecipients.getTotalItemCount %}
	{% embed 'common/blockTitleAndButtons.html.twig' %}{% endembed %}

	<p class="text-muted bg-white pb-0 mb-0 pl-3">
		{{'Entities.Message.informationMessage'|trans()}}
	</p>


	{% include 'common/blocActionsAndSearch.html.twig'  %}

	{{ form_start(filter_form, {'attr': {'id': 'massive-actions-form'}}) }}
	<div class="table-responsive">
		<section id="no-more-tables">
			<table id="table_msgs" data-type-list-msgs="{{ messageStatus }}" class="table table-hover">
				<thead>
					<tr>
						{# it not virus #}
						{% if messageStatus != '7' %}
							<th><input type="checkbox" id='checkAll' class="cb" data-target-checkall-class="selected-msg">
								<label class="for-cb check-all" for="checkAll"></label>
							</th>
						{% endif %}
						{% if is_granted('ROLE_ADMIN') %}
							<th></th>
						{% endif %}
						{% if is_granted('ROLE_ADMIN') %}
						<th>
							{{ knp_pagination_sortable(messagesRecipients, 'Message.Recipient'|trans,'m.fromAddr') }}
						</th>
						{% endif %}
						{#            <th>{{ 'Message.Status'|trans() }}</th> #}
						<th>
						    {{ knp_pagination_sortable(messagesRecipients, 'Message.Object'|trans, 'm.subject') }}
						</th>
						<th>
						    {{ knp_pagination_sortable(messagesRecipients, 'Message.Sender'|trans, 'm.fromAddr') }}
						</th>
						<th>
						    {{ knp_pagination_sortable(messagesRecipients, 'Message.Date'|trans, 'm.timeNum') }}
						</th>
						{# it not virus #}
						{% if messageStatus != '7' %}
							<th>{{ 'Entities.Message.spamLevel'|trans }}</th>
						{% endif %}
						<th></th>
						{# it not virus #}
						{% if messageStatus != '7' %}
							<th>{{ 'Message.Actions.list'|trans() }}</th>
						{% endif %}
					</tr>
				</thead>
				<tbody>

					{% for msgRecipient in messagesRecipients %}
						{% set error_badge = "" %}
						{% set error_badge_detail = "" %}
						{% set bold = "bold" %}
						{% if msgRecipient.status is not null and msgRecipient.status == 4 %}
							{% set error_badge = 'Message.ErrorSendCaptcha' %}
							{% set error_badge_detail = msgRecipient.messageError %}
						{% endif %}
						{% if msgRecipient.status is not null and msgRecipient.status is null %}
							{% set status = 'Message.Status.untreated'|trans()  %}
						{% elseif msgRecipient.status is not null %}
							{% set status = msgRecipient.status %}
							{% set bold = "" %}
						{% endif %}
						{% set keyPairMessage =  [msgRecipient.partitionTag, msgRecipient.getMailIdAsString(),msgRecipient.rid.id] %}
						<tr
							class="{{bold}} ">
							{# it not virus #}
							{% if messageStatus != '7' %}
								<td><input type="checkbox" name="id[]" value="{{ keyPairMessage|json_encode() }}" id="{{ keyPairMessage|json_encode() }}" class="cb selected-msg">
									<label class="for-cb"></label>
								</td>
							{% endif %}
							{% if is_granted('ROLE_ADMIN') %}
								<td>
									<span title="{{ msgRecipient.getMailIdAsString() }}">{{ msgRecipient.getMailIdAsString() }}</span>
								</td>
							{% endif %}
							{% if is_granted('ROLE_ADMIN') %}
								<td data-title="{{'Message.Recipient'|trans }}">
									<span title="{{msgRecipient.rid.getEmailClear()}}">{{msgRecipient.rid.getEmailClear()}}</span>
								</td>
							{% endif %}
							<td data-title="{{'Message.Object'|trans }}">
								<span data-msg-id="{{ keyPairMessage|json_encode() }}" title="{{msgRecipient.msgs.subject|replace({'_':' '})}}">{{msgRecipient.msgs.subject|slice(0,30)|replace({'_':' '})}}</span>
							</td>
							<td data-title="{{'Message.Sender'|trans }}">
								{% if msgRecipient.msgs.fromAddr | length > 35 %}
									<span title="{{ 'Message.Sender'|trans ~ ' : ' ~ msgRecipient.msgs.fromAddr }}">
										{% for senderSplit in  msgRecipient.msgs.fromAddr |split('<') %}
											{% if (senderSplit | length > 35) and ('@' in senderSplit ) %}
												{% set email = senderSplit |split('@') %}
												{{ email.0 }}<br/>@{{ email.1 |replace({'>':''})}}
											{% else %}
												{{ senderSplit|replace({'>':''}) }}
											{% endif %}
										{% endfor %}
									</span>
								{% else %}
									<span title="{{ 'Message.Sender'|trans ~ ' : ' ~ msgRecipient.msgs.fromAddr }}">{{  msgRecipient.msgs.fromAddr }}</span>
								{% endif %}
								{% if error_badge %}
									<span class="badge badge-pill badge-warning" title="{{ error_badge_detail | trans }}">{{ error_badge | trans }}</span>
								{% endif %}
							</td>
							<td data-title="{{'Message.Date'|trans }}">
								<span title="{{'Message.Date'|trans ~ ' : ' ~ msgRecipient.msgs.timeNum | format_datetime('short', 'short') }}">{{msgRecipient.msgs.timeNum | format_datetime('short', 'short')}}</span>
							</td>
							{# it not virus #}
							{% if messageStatus != '7' %}
								<td>{{ msgRecipient.bspamLevel }}</td>
							{% endif %}
							<td>
								<ul class="list-inline list-unstyled">
									<li class="list-inline-item">
										<a href="#" data-modal-method-type="GET" data-url-modal-content="{{ path('message_show', {'partitionTag' : msgRecipient.partitionTag, 'mailId' : msgRecipient.getMailIdAsString(), 'rid' : msgRecipient.rid.id}) }}" class="btn-open-modal btn btn-info float-right">
											<i class="fas fa-info"></i>
										</a>
									</li>
									{% if messageStatus is null %}
										<li class="list-inline-item">
											<a href="#" title="{{ 'Entities.Message.labels.preview' | trans }}" data-modal-method-type="GET" data-url-modal-content="{{ path('message_show_content', {'partitionTag' : msgRecipient.partitionTag, 'mailId' : msgRecipient.getMailIdAsString(), 'rid' : msgRecipient.rid.id}) }}" class="btn-open-modal btn btn-info float-right">
												<i class="fas fa-envelope-open"></i>
											</a>
										</li>
									{% endif %}
								</ul>
							</td>

							{# it not virus #}
							{% if messageStatus != '7' %}
								<td>

									<div class="dropdown">
										<button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">
											Action
										</button>
										<div class="dropdown-menu" style="z-index:10300">

											{% if messageStatus == '1' %}
												{# banned #}
												<a href="{{path('message_restore',{'partitionTag':msgRecipient.partitionTag,'mailId':msgRecipient.getMailIdAsString(),'rid':msgRecipient.rid.id})}}" class='dropdown-item confirmModal text-primary' data-dialog-title='{{ 'Message.Dialogs.confirmRestoreMsgtitle'|trans }}' data-dialog-content='{{ 'Message.Dialogs.confirmRestoreMsgContent'|trans }}' title='{{ 'Message.Actions.RestoreMessage'|trans }}'>
													<span class="fas fa-download"></span>
													{{ 'Message.Actions.Restore'|trans() }}
												</a>
												<a href="{{path('message_authorized',{'partitionTag':msgRecipient.partitionTag,'mailId':msgRecipient.getMailIdAsString(),'rid':msgRecipient.rid.id})}}" class='dropdown-item confirmModal text-success' data-dialog-title='{{ 'Message.Dialogs.confirmAuthorizedMsgtitle'|trans }}' data-dialog-content='{{ 'Message.Dialogs.confirmAuthorizedMsgContent'|trans }}' title='{{ 'Message.Actions.AutorizedSender'|trans }}'>
													<span class="fas fa-user-check "></span>
													{{ 'Message.Actions.Autorized'|trans() }}
												</a>
											{% endif %}
											{% if messageStatus == '2' %}
												{# authorized #}
												<a href="{{path('message_banned',{'partitionTag':msgRecipient.partitionTag,'mailId':msgRecipient.getMailIdAsString(),'rid':msgRecipient.rid.id})}}" class='dropdown-item confirmModal' data-dialog-title='{{ 'Message.Dialogs.confirmBannedMsgtitle'|trans }}' data-dialog-content='{{ 'Message.Dialogs.confirmBannedMsgContent'|trans }}' title="{{ 'Message.Actions.BannedSender'|trans() }}">
													<span class="fas fa-user-slash "></span>
													{{ 'Message.Actions.Banned'|trans() }}
												</a>
											{% endif %}
											{% if messageStatus is empty or messageStatus == '4'  %}
												<a href="{{path('message_restore',{'partitionTag':msgRecipient.partitionTag,'mailId':msgRecipient.getMailIdAsString(), 'rid':msgRecipient.rid.id})}}" class='dropdown-item   text-primary confirmModal' data-dialog-title='{{ 'Message.Dialogs.confirmRestoreMsgtitle'|trans }}' data-dialog-content='{{ 'Message.Dialogs.confirmRestoreMsgContent'|trans }}' title='{{ 'Message.Actions.RestoreMessage'|trans }}'>
													<span class="fas fa-download"></span>
													{{ 'Message.Actions.Restore'|trans() }}
												</a>
												<a href="{{path('message_authorized',{'partitionTag':msgRecipient.partitionTag,'mailId':msgRecipient.getMailIdAsString(), 'rid':msgRecipient.rid.id})}}" class='dropdown-item confirmModal text-success' data-dialog-title='{{ 'Message.Dialogs.confirmAuthorizedMsgtitle'|trans }}' data-dialog-content='{{ 'Message.Dialogs.confirmAuthorizedMsgContent'|trans }}' title="{{ 'Message.Actions.AutorizedSender'|trans() }}">
													<span class="fas fa-user-check "></span>
													{{ 'Message.Actions.Autorized'|trans() }}
												</a>
												<a href="{{path('message_banned',{'partitionTag':msgRecipient.partitionTag,'mailId':msgRecipient.getMailIdAsString(), 'rid':msgRecipient.rid.id})}}" class='dropdown-item confirmModal' data-dialog-title='{{ 'Message.Dialogs.confirmBannedMsgtitle'|trans }}' data-dialog-content='{{ 'Message.Dialogs.confirmBannedMsgContent'|trans }}' title="{{ 'Message.Actions.BannedSender'|trans() }}">
													<span class="fas fa-user-slash "></span>
													{{ 'Message.Actions.Banned'|trans() }}
												</a>
											{% endif %}
											{% if messageStatus == '6'  %}
												{# spam compared to the level #}
												<a href="{{path('message_restore',{'partitionTag':msgRecipient.partitionTag,'mailId':msgRecipient.getMailIdAsString(), 'rid':msgRecipient.rid.id})}}" class='dropdown-item confirmModal text-primary' data-dialog-title='{{ 'Message.Dialogs.confirmRestoreMsgtitle'|trans }}' data-dialog-content='{{ 'Message.Dialogs.confirmRestoreMsgContent'|trans }}' title='{{ 'Message.Actions.RestoreMessage'|trans }}'>
													<span class="fas fa-download"></span>
													{{ 'Message.Actions.Restore'|trans() }}
												</a>
												<a href="{{path('message_authorized',{'partitionTag':msgRecipient.partitionTag,'mailId':msgRecipient.getMailIdAsString(), 'rid':msgRecipient.rid.id})}}" class='dropdown-item confirmModal text-success' data-dialog-title='{{ 'Message.Dialogs.confirmAuthorizedMsgtitle'|trans }}' data-dialog-content='{{ 'Message.Dialogs.confirmAuthorizedMsgContent'|trans }}' title='{{ 'Message.Actions.AutorizedSender'|trans }}'>
													<span class="fas fa-user-check "></span>
													{{ 'Message.Actions.Autorized'|trans() }}
												</a>
												<a href="{{path('message_banned',{'partitionTag':msgRecipient.partitionTag,'mailId':msgRecipient.getMailIdAsString(), 'rid':msgRecipient.rid.id})}}" class='dropdown-item confirmModal' data-dialog-title='{{ 'Message.Dialogs.confirmBannedMsgtitle'|trans }}' data-dialog-content='{{ 'Message.Dialogs.confirmBannedMsgContent'|trans }}' title="{{ 'Message.Actions.BannedSender'|trans() }}">
													<span class="fas fa-user-slash "></span>
													{{ 'Message.Actions.Banned'|trans() }}
												</a>
											{% endif %}
											{% if messageStatus == '3' %}
												<a href="{{path('message_restore',{'partitionTag':msgRecipient.partitionTag,'mailId':msgRecipient.getMailIdAsString(), 'rid':msgRecipient.rid.id})}}" class='dropdown-item confirmModal text-primary' data-dialog-title='{{ 'Message.Dialogs.confirmRestoreMsgtitle'|trans }}' data-dialog-content='{{ 'Message.Dialogs.confirmRestoreMsgContent'|trans }}' title='{{ 'Message.Actions.RestoreMessage'|trans }}'>
													<span class="fas fa-download"></span>
													{{ 'Message.Actions.Restore'|trans() }}
												</a>
												<a href="{{path('message_authorized',{'partitionTag':msgRecipient.partitionTag,'mailId':msgRecipient.getMailIdAsString(), 'rid':msgRecipient.rid.id})}}" class='dropdown-item confirmModal text-success' data-dialog-title='{{ 'Message.Dialogs.confirmAuthorizedMsgtitle'|trans }}' data-dialog-content='{{ 'Message.Dialogs.confirmAuthorizedMsgContent'|trans }}' title="{{ 'Message.Actions.AutorizedSender'|trans() }}">
													<span class="fas fa-user-check "></span>
													{{ 'Message.Actions.Autorized'|trans() }}
												</a>
												<a href="{{path('message_banned',{'partitionTag':msgRecipient.partitionTag,'mailId':msgRecipient.getMailIdAsString(), 'rid':msgRecipient.rid.id})}}" class='dropdown-item confirmModal' data-dialog-title='{{ 'Message.Dialogs.confirmBannedMsgtitle'|trans }}' data-dialog-content='{{ 'Message.Dialogs.confirmBannedMsgContent'|trans }}' title="{{ 'Message.Actions.BannedSender'|trans() }}">
													<span class="fas fa-user-slash "></span>
													{{ 'Message.Actions.Banned'|trans() }}
												</a>
											{% endif %}
											{% if messageStatus != '3' %}
												<a href="{{path('message_delete',{'partitionTag':msgRecipient.partitionTag,'mailId':msgRecipient.getMailIdAsString(), 'rid':msgRecipient.rid.id})}}" class='dropdown-item  confirmModal text-danger' data-dialog-title='{{ 'Message.Dialogs.confirmDeleteMsgtitle'|trans }}' data-dialog-content='{{ 'Message.Dialogs.confirmDeleteMsgContent'|trans }}' data-target='delete' title="{{ 'Message.Actions.DeleteMessage'|trans() }}">
													<span class="fas fa-trash-alt "></span>
													{{ 'Message.Actions.Delete'|trans() }}
												</a>
											{% endif %}

											{% if is_granted('ROLE_ADMIN') %}
												<div class="dropdown-divider"></div>
												{#                  <li class="list-inline-item mt-1 admin-actions">#}
												<a href="{{path('message_authorized_domain',{'partitionTag':msgRecipient.partitionTag,'mailId':msgRecipient.getMailIdAsString(), 'rid':msgRecipient.rid.id})}}" class='dropdown-item  confirmModal  text-success' data-dialog-title='{{ 'Message.Dialogs.confirmAuthorizedDomainMsgtitle'|trans }}' data-dialog-content='{{ 'Message.Dialogs.confirmAuthorizedDomainMsgContent'|trans }}' title="{{ 'Message.Actions.AutorizedDomain'|trans() }}">
													<span class="fas fa-check-double "></span>
													{{ 'Message.Actions.Autorized'|trans() }}
												</a>
												{#                  </li>#}

												<a href="{{path('message_banned_domain',{'partitionTag':msgRecipient.partitionTag,'mailId':msgRecipient.getMailIdAsString(), 'rid':msgRecipient.rid.id})}}" class='dropdown-item confirmModal' data-dialog-title='{{ 'Message.Dialogs.confirmBannedDomainMsgtitle'|trans }}' data-dialog-content='{{ 'Message.Dialogs.confirmBannedDomainMsgContent'|trans }}' title="{{ 'Message.Actions.BannedDomain'|trans() }}">
													<span class="fas fa-ban "></span>
													{{ 'Message.Actions.Banned'|trans() }}
												</a>

											{% endif %}
										</div>
									</div>

								</td>
							{% endif %}
						</tr>

					{% endfor %}
				</tbody>
			</table>
		</section>
	</div>
	{{ form_end(filter_form) }}
	<div class="navigation text-center">
		{{ knp_pagination_render(messagesRecipients) }}
	</div>

{% endblock %}
