{{ form_start(form) }}
<div class="row">
  <div class="col-md-6 mb-2">

    <div class="card">
      <div class="card-header">
        {{ 'Entities.Domain.labels.infos' | trans()  }}
      </div>

      <div class="card-body">

        {{ form_row(form.active) }}
        {{ form_row(form.domain) }}
        {{ form_row(form.srvSmtp) }}
        {{ form_row(form.smtpPort) }}
        {{ form_row(form.srvImap) }}
        {{ form_row(form.imap_port) }}
        {{ form_row(form.imap_flag) }}
        {{ form_row(form.imapNoValidateCert) }}
        {{ form_row(form.logoFile) }}
        {{ form_row(form.defaultLang) }}        
      </div>
    </div>
  </div>

  <div class="col-md-6">
    <div class="card mb-2">
      <div class="card-header">
        {{ 'Entities.Domain.labels.agentJConfig' | trans()  }}
      </div>  
      <div class="card-body">
        {{ form_row(form.rules) }}
        {{ form_row(form.policy) }}
        <div class="form-group row">
          <label for="domain_level" class="col-sm-12">{{ 'Entities.Domain.fields.level'|trans }} : <span id="domain-spam-level">{{ domainSpamLevel }}</span></label>
          <div class="col-sm-12">{{ form_widget(form.level) }}</div>
        </div>
        <div class="form-group row">
          <label for="domain_level" class="col-sm-12">{{ 'Entities.Domain.fields.mailAuthenticationSender'|trans }} ({{ 'Generics.labels.byDefault'|trans }} : {{ domain_mail_authentification_sender }})</label>
          <div class="col-sm-12">{{ form_widget(form.mailAuthenticationSender) }}</div>
        </div>

        {#{{ form_row(form.mailAuthenticationSender) }}#}

      </div>      
    </div>
    {% if domain.id is not null %}
      <div class="card mb-2">
        <div class="card-header">
          {{ 'Entities.Domain.labels.connectors' | trans()  }}
          <div class="dropdown float-right">
            <a class="btn btn-secondary dropdown-toggle btn-sm" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              {{ 'Entities.Domain.actions.add_connector' | trans()  }}
            </a>

            <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
              {% for connectorType in connectorTypes %}
                {% set urlNew =  path('app_connector_o365_new', {'domain' : domain.id}) %}
                <a class="dropdown-item btn-open-modal" data-url-modal-content="{{ urlNew }}" href="#">{{ connectorType }}</a>

              {% endfor %}
            </div>
          </div>          
        </div>  
        <div class="card-body">
          <table class="table">
            <thead>
              <tr>
                <th>{{ 'Entities.Connector.fields.name' | trans }}</th>
                <th>{{ 'Entities.Connector.fields.type' | trans }}</th>   
                <th></th>
                <th></th>
              </tr>

            </thead>
            {% for connector in domain.connectors %}
               {% set urlEdit =  path('app_connector_o365_edit', {'id' : connector.id}) %}
              <tr>
                <td> {{ connector.name }}</td>
                <td> {{ connector.type }}</td>
                <td>
                  <a href="{{ path('app_office365_connector_sync', {'id' : connector.id}) }}?_token={{ csrf_token('sync' ~ connector.id) }}"  class='btn btn-sm btn-success' title="{{ 'Entities.Domain.actions.importUserAndAliases'|trans() }}">
                    <i class="fas fa-sync d-xsd-sm-block d-sm-block d-md-block d-lg-none"></i> 
                    <span class="d-none d-lg-block">{{ 'Generics.actions.import'|trans() }}</span>
                  </a>                   
                </td>
                <td>   
                  <a href="#" data-url-modal-content="{{ urlEdit }}"  class='btn btn-sm btn-success btn-open-modal' title="{{ 'Generics.actions.edit'|trans() }}">
                    <i class="fas fa-edit d-xsd-sm-block d-sm-block d-md-block d-lg-none"></i>
                    <span class="d-none d-lg-block">{{ 'Generics.actions.edit'|trans() }}</span>
                  </a> 
                  <a href="{{ path('app_connector_delete', {'id': connector.id}) }}?_token={{ csrf_token('delete' ~ connector.id) }}" 
                     class='btn btn-sm btn-danger confirmModal' 
                     data-dialog-title='{{ 'Message.Dialogs.confirmDeleteDomainTitle'|trans }}' 
                     data-dialog-content='{{ 'Message.Dialogs.confirmDeleteDomainContent'|trans }}'
                     title="{{ 'Generics.actions.delete'|trans() }}">
                    <i class="fas fa-trash-alt d-xsd-sm-block d-sm-block d-md-block d-lg-none"></i>
                    <span class="d-none d-lg-block">{{ 'Generics.actions.delete'|trans() }}</span>
                  </a>                                    
                </td>

              </tr>
            {% endfor %}
          </table>
                 

        </div>      
      </div> 
    {% endif %}
  </div>




</div>


<div class="d-flex justify-content-center">
  <input type="submit" class="btn btn-primary" value="{{ button_label|default('Generics.actions.save'|trans)}}" >&nbsp;
  <a class="btn btn-outline-secondary " href="{{ path('domain_index') }}">{{ 'Generics.actions.cancel'|trans() }}</a>
</div>   
{{ form_end(form) }}
