{% extends 'base.html.twig' %}

{% block title %}Domain{% endblock %}

{% block body %}
    <h1>Domain</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ domain.id }}</td>
            </tr>
            <tr>
                <th>{{ 'Entities.Domain.fields.domain'|trans() }}</th>
                <td>{{ domain.domain }}</td>
            </tr>
            <tr>
                <th>{{ 'Entities.Domain.fields.srvSmtp'|trans() }}</th>
                <td>{{ domain.srvSmtp }}</td>
            </tr>
            <tr>
                <th>{{ 'Entities.Domain.fields.srvImap'|trans() }}</th>
                <td>{{ domain.srvImap }}</td>
            </tr>
            <tr>
                <th>{{ 'Entities.Domain.fields.datemod'|trans() }}</th>
                <td>{{ domain.datemod ? domain.datemod | format_datetime('short', 'short') : '' }}</td>
            </tr>
            <tr>
                <th>{{ 'Entities.Domain.fields.imapPort'|trans() }}</th>
                <td>{{ domain.imapPort }}</td>
            </tr>
            <tr>
                <th>{{ 'Entities.Domain.fields.imapFlag'|trans() }}</th>
                <td>{{ domain.imapFlag }}</td>
            </tr>
            <tr>
                <th>{{ 'Entities.Domain.fields.active'|trans() }}</th>
                <td>{{ domain.active ? 'Generics.labels.yes'|trans() : 'Generics.labels.no'|trans() }}</td>
            </tr>
            <tr>
                <th>{{ 'Entities.Domain.fields.transport'|trans() }}</th>
                <td>{{ domain.transport }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('domain_index') }}">{{ 'Generics.actions.backToTheList'|trans() }}</a>

    <a href="{{ path('domain_edit', {'id': domain.id}) }}">{{ 'Generics.actions.edit'|trans() }}</a>

    {{ include('domain/_delete_form.html.twig') }}
{% endblock %}
