{{ form_start(form, { "attr" : {'data-controller' : 'form-ldap-connector'}}) }}
<input type="hidden" value="{{ path('app_connector_ldap_checkbind') }}" data-form-ldap-connector-target="urlCheckBind">
<input type="hidden" value="{{ path('app_connector_ldap_check_user_filter', { 'domain' : connector.domain.id }) }}" data-form-ldap-connector-target="urlCheckUserFilter">

<div class="row">
  <div class="col-md-12">
    <div class="form-group">
      <label for="ldap_connector_name">{{ 'Entities.Connector.fields.name'|trans }}</label>
      {{ form_widget(form.name) }}
    </div>
  </div>
  <div class="col-md-6">
    <div class="form-group">
      <label for="ldap_connector_ldapHost">{{ 'Entities.LdapConnector.fields.ldapHost'|trans }}</label>
      {{ form_widget(form.ldapHost, { 'attr' : { 'data-form-ldap-connector-target' : 'ldapHost',  ' data-action' : 'blur->form-ldap-connector#checkConnection' }}) }}
    </div>
  </div>    
  <div class="col-md-6">
    <div class="form-group">
      <label for="ldap_connector_ldapPort">{{ 'Entities.LdapConnector.fields.ldapPort'|trans }}</label>
      {{ form_widget(form.ldapPort, { 'attr' : { 'data-form-ldap-connector-target' : 'ldapPort',  ' data-action' : 'blur->form-ldap-connector#checkConnection' }}) }}
    </div>
  </div>        
  <div class="col-md-5">
    <div class="form-group">
      <label for="ldap_connector_ldapBindDn">{{ 'Entities.LdapConnector.fields.ldapBindDn'|trans }}</label>
      {{ form_widget(form.ldapBindDn, { 'attr' : { 'data-form-ldap-connector-target' : 'ldapBindDn',  ' data-action' : 'blur->form-ldap-connector#checkConnection' }}) }}
    </div>
  </div>    
  <div class="col-md-5">
    <div class="form-group">
      <label for="ldap_connector_LdapPassword">{{ 'Entities.LdapConnector.fields.LdapPassword'|trans }}</label>

      {{ form_widget(form.LdapPassword, { 'attr' : { 'data-form-ldap-connector-target' : 'ldapPassword',  ' data-action' : 'blur->form-ldap-connector#checkConnection' }}) }}
      <input type="hidden" name="encryptedPass" value="{{ connector.ldapPassword }}" data-form-ldap-connector-target="encryptedPass"/>
    </div>
  </div>      
  <div class="col-md-2 mt-4 pt-2 text-success text-center" data-form-ldap-connector-target="ldapBindResult"></div>
  <div class="col-md-12">
    <div class="form-group">
      <label for="ldap_connector_LdapBaseDN">{{ 'Entities.LdapConnector.fields.LdapBaseDN'|trans }}</label>
      {{ form_widget(form.LdapBaseDN) }}
    </div>
  </div>       
  <div class="col-md-4">
    <div class="form-group">
      <label for="ldap_connector_ldapLoginField">{{ 'Entities.LdapConnector.fields.ldapLoginField'|trans }}</label>
      {{ form_widget(form.ldapLoginField) }}
    </div>
  </div>    
  <div class="col-md-4">
    <div class="form-group">
      <label for="ldap_connector_ldapRealNameField">{{ 'Entities.LdapConnector.fields.ldapRealNameField'|trans }}</label>
      {{ form_widget(form.ldapRealNameField) }}
    </div>
  </div>       
  <div class="col-md-4">
    <div class="form-group">
      <label for="ldap_connector_ldapEmailField">{{ 'Entities.LdapConnector.fields.ldapEmailField'|trans }}</label>
      {{ form_widget(form.ldapEmailField) }}
    </div>
  </div>    
      <div class="col-md-12">
        <div class="form-group">
          <label for="ldap_connector_ldapUserFilter">{{ 'Entities.LdapConnector.fields.ldapUserFilter'|trans }}</label>
          {{ form_widget(form.ldapUserFilter, { 'attr' : { 'data-form-ldap-connector-target' : 'ldapUserFilter',  ' data-action' : 'blur->form-ldap-connector#checkUserFilter' }})  }}
          <small class="d-none form-text text-muted"></small>
        </div>
      </div>      
  <div class="col-md-12">
    <div class="form-group">
      {{ form_widget(form.synchronizeGroup, { 'attr' : {'data-action' : 'click->form-ldap-connector#showHideGroupInfoEventClick' }}) }}
    </div>      
    <fieldset id="info-group-ldap">
      <div class="row">
      <div class="col-md-6">
        <div class="form-group">
          <label for="ldap_connector_ldapGroupNameField">{{ 'Entities.LdapConnector.fields.ldapGroupNameField'|trans }}</label>
          {{ form_widget(form.ldapGroupNameField) }}
        </div>
      </div>          
      <div class="col-md-12">
        <div class="form-group">
          <label for="ldap_connector_ldapGroupMemberField">{{ 'Entities.LdapConnector.fields.ldapGroupMemberField'|trans }}</label>
          {{ form_widget(form.ldapGroupMemberField) }}
        </div>
      </div>    
  
      <div class="col-md-12">
        <div class="form-group">
          <label for="ldap_connector_ldapUserFilter">{{ 'Entities.LdapConnector.fields.ldapGroupFilter'|trans }}</label>
          {{ form_widget(form.ldapGroupFilter, { 'attr' : { 'data-form-ldap-connector-target' : 'ldapGroupFilter',  ' data-action' : 'blur->form-ldap-connector#checkUserFilter' }})  }}
          <small class="d-none form-text text-muted"></small>
        </div>
      </div>   
          </div>
    </fieldset>    
  </div>


</div>
{{ form_widget(form) }}
<div class="d-flex justify-content-center">
  <input type="submit" class="btn btn-primary mr-2" value="{{ button_label|default('Generics.actions.save'|trans)}}" >
  <a class="btn btn-outline-secondary btn-close-modal" href="#">{{ 'Generics.actions.cancel'|trans() }}</a>
</div>
{{ form_end(form) }}
