{% extends 'domain/customisation/layout.html.twig' %}

{% block title %}
    {{ 'Entities.Domain.customisation.report.title' | trans({ '{{ domain }}': domain.domain }) }}
{% endblock %}

{% block customisation_body %}
    {{ form_start(form) }}
        <div class="row">
            <div class="col-9">
                {{ form_row(form.messageAlert) }}

                <div class="form-group" data-controller="slider">
                    <label for="{{ field_id(form.reportSpamLevel) }}" class="col-sm-12 col-form-label col-form-label col-sm-2 required">
                        {{ field_label(form.reportSpamLevel) }}
                        <span data-slider-target="output"></span>
                    </label>

                    {{ form_widget(form.reportSpamLevel) }}
                </div>
            </div>

            <div class="col-3">
                {{ include('domain/customisation/_variables_container.html.twig') }}
            </div>
        </div>

        <div class="text-center">
            <button type="submit" class="btn btn-primary">
                {{ 'Generics.actions.save' | trans }}
            </button>

            <a class="btn btn-outline-secondary" href="{{ path('domain_index') }}">
                {{ 'Generics.actions.backToTheList' | trans }}
            </a>
        </div>
    {{ form_end(form) }}
{% endblock %}
