<h2 class="mx-2 d-flex justify-content-between">{{ 'Generics.labels.recentAlerts'|trans }}
	<a href="{{ path('alert_index') }}" class="btn btn-secondary">{{ 'Generics.actions.showMore'|trans }}</a>
</h2>
<div class="table-responsive">
	<table id="table_alerts" class="table table-hover">
		<thead>
			<tr>
				<th class="bg-transparent">{{ 'Message.Date'|trans }}</th>
				<th class="bg-transparent">{{ 'Entities.User.fields.email'|trans }}</th>
				<th class="bg-transparent">{{ 'Message.Object'|trans }}</th>
				<th class="bg-transparent"></th>
				<th class="bg-transparent"></th>
			</tr>
		</thead>
		<tbody>
			{% for alert in alerts %}
				<tr class="{{ alert.isRead ? '' : 'font-weight-bold' }}">
					<td data-title="{{ 'Message.Date'|trans }}">
						<time datetime="{{ alert.date|date('Y-m-d\\TH:i:s') }}">
							{{ alert.date|format_datetime('short', 'short') }}
						</time>
					</td>
					<td data-title="{{ 'Entities.User.fields.email'|trans }}">
						{{ alert.refUser }}
					</td>
					<td data-title="{{ 'Message.Object'|trans }}">
						{{ alert.subject }}
					</td>
					<td>
						<a href="{{ path('alert_read', { 'id': alert.id }) }}" class="btn btn-primary float-right" title="{{ 'Entities.Alert.actions.read'|trans }}">
							<i class="fas fa-check"></i>
						</a>
					</td>
					<td>
						<a href="{{ path('alert_delete', { 'id': alert.id }) }}" class="btn btn-danger float-right" title="{{ 'Entities.Alert.actions.delete'|trans }}">
							<i class="fas fa-trash"></i>
						</a>
					</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>
</div>
