{% extends 'base.html.twig' %}

{% block title %}
	{{ 'Generics.messages.welcome'|trans }}
	!
{% endblock %}

{% block body %}

	{% block stylesheets %}
		<style>
			.card .fa-expand-arrows-alt {
				visibility: hidden;
				opacity: 0;
				transition: visibility 0s, opacity 0.3s ease;
			}
			.card:hover .fa-expand-arrows-alt {
				visibility: visible;
				opacity: 1;
				color: #212529;
			}

			@keyframes spinner-border {
				to {
					transform: rotate(360deg);
				}
			}

            .spinner-border {
                display: inline-block;
                width: 2rem;
                height: 2rem;
                vertical-align: text-bottom;
                border: 0.25em solid currentColor;
                border-right-color: transparent;
                border-radius: 50%;
                animation: spinner-border 0.75s linear infinite;
            }

            .spinner-border-sm {
                width: 1rem;
                height: 1rem;
                border-width: 0.2em;
            }

            @keyframes spinner-grow {
                0% {
                    transform: scale(0);
                }
                50% {
                    opacity: 1;
                }
            }

            .spinner-grow {
                display: inline-block;
                width: 2rem;
                height: 2rem;
                vertical-align: text-bottom;
                background-color: currentColor;
                border-radius: 50%;
                opacity: 0;
                animation: spinner-grow 0.75s linear infinite;
            }

            .spinner-grow-sm {
                width: 1rem;
                height: 1rem;
            }

		</style>
	{% endblock %}

	<h1>{{ 'Generics.messages.welcomeAgentJ'|trans }}</h1>

	<div class="row">
		{% if showAlert %}
			<div class="col-12 col-sm-6">
				<div class="card my-2" style="height: 300px; position: relative;">
					<turbo-frame id="dashboard-alerts" src="{{ path('dashboard_alerts') }}" loading="lazy" target="_top" class="w-100 h-100">
						<div class="d-flex justify-content-center align-items-center h-100" style="background: #fff;">
							<div class="spinner-border text-primary" role="status"></div>
						</div>
					</turbo-frame>
				</div>
			</div>
		{% endif %}
		<div class="col-12 col-sm-6">
			<div class="card my-2" style="height: 300px; position: relative;">
				<turbo-frame id="dashboard-stats-by-status" src="{{ path('dashboard_stats_by_status') }}" loading="lazy" target="_top" class="w-100 h-100">
					<div class="d-flex justify-content-center align-items-center h-100" style="background: #fff;">
						<div class="spinner-border text-primary" role="status"></div>
					</div>
				</turbo-frame>
			</div>
		</div>
		<div class="col-12 {% if not showAlert %}col-sm-6{% endif %}">
			<div class="card my-2" style="height: 300px; position: relative;">
				<turbo-frame id="dashboard-stats-by-days" src="{{ path('dashboard_stats_by_days') }}" loading="lazy" target="_top" class="w-100 h-100">
					<div class="d-flex justify-content-center align-items-center h-100" style="background: #fff;">
						<div class="spinner-border text-primary" role="status"></div>
					</div>
				</turbo-frame>
			</div>

		</div>
	</div>
	{% if is_granted('ROLE_ADMIN') %}
		<div class="row mt-3">
			<div class="col-md-12">
				<div class="card my-2" style="height: 300px; position: relative;">
					<turbo-frame id="dashboard-stats-by-in-out" src="{{ path('dashboard_stats_by_in_out') }}" loading="lazy" target="_top" class="w-100 h-100">
						<div class="d-flex justify-content-center align-items-center h-100" style="background: #fff;">
							<div class="spinner-border text-primary" role="status"></div>
						</div>
					</turbo-frame>
				</div>

			</div>
		</div>
	{% endif %}

{% endblock %}
