{% extends 'modalTemplate.html.twig' %}
{% block modalTitle %}
  {{ 'Entities.Message.labels.infos' | trans }}
{% endblock %}

{% block modalContent %}
    <table class="table table-sm">
        <thead>
            <tr>
                <th>{{ 'Entities.Message.labels.reason' | trans }}</th>
                <th>{{ 'Entities.User.fields.incoming' | trans }}</th>
                <th>{{ 'Entities.User.fields.outgoing' | trans }}</th>
            </tr>
        </thead>

        {% set totalIncoming = 0 %}
        {% set totalOutgoing = 0 %}

        {% for status, count in statusCounts %}
            <tr>
                <td>{{ count.label | trans }}</td>
                <td>{{ count.quantity }}</td>
                <td>{{ count.quantityOut }}</td>
                {% set totalIncoming = totalIncoming + count.quantity %}
                {% set totalOutgoing = totalOutgoing + count.quantityOut %}
            </tr>
        {% endfor %}

        <tr>
            <th>{{ 'Navigation.all' | trans }}</th>
            <td>{{ totalIncoming }}</td>
            <td>{{ totalOutgoing }}</td>
        </tr>
    </table>
{% endblock %}
