{{ form_start(form) }}
{{ form_widget(form) }}
<div class="d-flex justify-content-center">
  <input type="submit" class="btn btn-primary mr-2" value="{{ button_label|default('Generics.actions.save'|trans)}}" >
  <a class="btn btn-outline-secondary btn-close-modal" href="#">{{ 'Generics.actions.cancel'|trans() }}</a>
</div>
{{ form_end(form) }}
