{% extends 'base.html.twig' %}

{% block title %}
    {{'Entities.User.indexAlias'|trans}}
{% endblock %}

{% block body %}
    {% set _title = 'Entities.User.indexAlias'|trans ~ ' : ' ~ users.getTotalItemCount%}
    {% embed 'common/blockTitleAndButtons.html.twig' %}

        {% block content_button_actions %}
            {% if is_granted('ROLE_ADMIN') %}
                <button
                    type="button"
                    data-turbo="false"
                    data-url-modal-content="{{ path('import_user_alias') }}"
                    class="btn-open-modal btn btn-success"
                >
                    <i class="fas fa-plus"></i>&nbsp;{{ 'Generics.actions.importFile' | trans }}
                </button>
            {% endif %}
            <button
                type="button"
                data-url-modal-content="{{ path('new_user_email_alias') }}"
                class="btn-open-modal btn btn-success"
            >
                <i class="fas fa-plus"></i>&nbsp;{{ 'Entities.User.actions.add_new_alias'|trans() }}
            </button>
        {% endblock %}

    {% endembed %}

    {% include 'user/_batchActionsAndSearch.html.twig' %}

    <div class="table-responsive">
        <section id="no-more-tables">
            <table id="table_users" class="table">
                <thead>
                    <tr>
                        <th>
                            <input type="checkbox" class="cb" id="checkAll" data-target-checkall-class="selected-msg">
                            <label class="for-cb check-all" for="checkAll"></label>
                        </th>
                        <th>
                            {{ knp_pagination_sortable(users, 'Entities.User.fields.alias'|trans, 'u.email') }}
                        </th>
                        <th>
                            {{ knp_pagination_sortable(users, 'Entities.User.fields.email'|trans, 'ou.email') }}
                        </th>
                        <th>
                            {{ 'Generics.labels.actions' | trans }}
                        </th>
                    </tr>
                </thead>
                <tbody>
                    {% for user in users %}
                        <tr>
                            <td>
                                <input
                                    type="checkbox"
                                    name="id[]"
                                    value="{{ user.id }}"
                                    id="{{ user.id }}"
                                    class="cb selected-msg"
                                    data-mass-action-group="users"
                                />
                                <label class="for-cb"></label>
                            </td>
                            <td data-title="{{'Entities.User.fields.alias'|trans }}">
                                {{ user.email }}
                            </td>
                            <td data-title="{{'Entities.User.fields.email'|trans }}">
                                {{ user.originalUser.email }}
                            </td>
                            <td>
                                <ul class="list-inline list-unstyled">
                                    <li class="list-inline-item">
                                        <button type="button" href="#" data-url-modal-content="{{ path('user_email_alias_edit', {'id': user.id}) }}" class='btn-open-modal btn btn-sm btn-success' title="{{ 'Generics.actions.edit'|trans() }}">
                                            <i class="fas fa-edit d-none d-md-block d-lg-none"></i>
                                            <span class="d-md-none d-lg-block">
                                                {{ 'Generics.actions.edit'|trans() }}
                                            </span>
                                        </button>


                                        {% include 'user/_delete_form.html.twig' with {'user': user} %}

                                        {% include 'user/_impersonation_form.html.twig' with {'user': user} %}
                                    </li>
                                </ul>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </section>
    </div>

    {% include 'common/_paginationAndPerPageSelector.html.twig' with { 'pagination': users } %}

{% endblock %}
