{% extends 'base.html.twig' %}

{% block title %}
    {{'Entities.User.indexLocal'|trans}}
{% endblock %}

{% block body %}

    {% set _title = 'Entities.User.indexLocal'|trans ~ ' : ' ~ users.getTotalItemCount%}
    {% embed 'common/blockTitleAndButtons.html.twig' %}

        {% block content_button_actions %}
            <button type="button"
                data-url-modal-content="{{ path('user_local_new') }}"
                class="btn-open-modal btn btn-success"
            >
                <i class="fas fa-plus"></i>
                &nbsp;
                {{ 'Entities.User.actions.add_new'|trans() }}
            </button>
        {% endblock %}

    {% endembed %}

    {% include 'user/_batchActionsAndSearch.html.twig' %}

    <div class="table-responsive">
        <section id="no-more-tables">
            <table class="table">
                <thead>
                    <tr>
                        <th>
                            <input type="checkbox" class="cb" id="checkAll" data-target-checkall-class="selected-msg">
                            <label class="for-cb check-all" for="checkAll"></label>
                        </th>
                        <th>
                            {{ knp_pagination_sortable(users, 'Entities.User.fields.userName'|trans, 'u.username') }}
                        </th>
                        <th>
                            {{ knp_pagination_sortable(users, 'Entities.User.fields.fullName'|trans, 'u.fullname') }}
                        </th>
                        <th>
                            {{ knp_pagination_sortable(users, 'Entities.User.fields.roles'|trans, 'u.roles') }}
                        </th>
                        <th>
                            {{ 'Generics.labels.actions' | trans }}
                        </th>
                    </tr>
                </thead>
                <tbody>
                    {% for user in users %}
                        <tr>
                            <td>
                                <input type="checkbox" name="id[]" value="{{ user.id }}" id="user_{{ user.id }}" class="cb selected-msg" data-mass-action-group="users"/>
                                <label class="for-cb"></label>
                            </td>
                            <td data-title="{{'Entities.User.fields.userName'|trans }}">
                                {{ user.username }}
                            </td>
                            <td data-title="{{'Entities.User.fields.fullName'|trans }}">
                                {{ user.fullname }}
                            </td>
                            <td data-title="{{'Entities.User.fields.roles'|trans }}">
                                {{ user.roles | join(', ') }}
                            </td>
                            <td>
                                <ul class="list-inline list-unstyled">
                                    <li class="list-inline-item">
                                        <button type="button" href="#" data-url-modal-content="{{ path('user_local_edit', {'id': user.id}) }}" class='btn-open-modal btn btn-sm btn-success' title="{{ 'Generics.actions.edit'|trans() }}">
                                            <i class="fas fa-edit d-none d-md-block d-lg-none"></i>
                                            <span class="d-md-none d-lg-block">
                                                {{ 'Generics.actions.edit'|trans() }}
                                            </span>
                                        </button>

                                        <button type="button" href="#" data-url-modal-content="{{ path('user_local_change_password', {'id': user.id}) }}" class='btn-open-modal btn btn-sm btn-warning' title="{{ 'Generics.actions.changePassword'|trans() }}">
                                            <i class="fas fa-edit d-none d-md-block d-lg-none"></i>
                                            <span class="d-md-none d-lg-block">
                                                {{ 'Generics.actions.changePassword'|trans() }}
                                            </span>
                                        </button>

                                        {% include 'user/_delete_form.html.twig' with {'user': user} %}

                                        {% if user.email is not null %}
                                            {% include 'user/_impersonation_form.html.twig' with {'user': user} %}
                                        {% endif %}

                                    </li>
                                </ul>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </section>
    </div>

    {% include 'common/_paginationAndPerPageSelector.html.twig' with { 'pagination': users } %}

{% endblock %}
