{% if untreatedMsgs is not empty %}
  <table style="width:100%;background-color: #fff;">
    <tbody>
      {% for msg in untreatedMsgs %}
        {% set token = message_release_token(msg.msgs, user) %}
        <tr>

          <td>
            <div>
              <strong>{{ msg.msgs.fromAddr }}</strong><br>
              <p style="font-size: 10px">{{ msg.msgs.subject }}</p>
            </div>
          </td>

          <td width="100" style="min-width: 100px;">
            <div style="width: 100px;">
              <a href="{{url ~ path('portal_message_authorized',{'token':token,'partitionTag':msg.partitionTag,'mailId':msg.getMailIdAsString(),'recipientId':msg.rid.id})}}"
                 title={{ 'Message.Actions.AutorizedSender'|trans() }} style="font-size:16px;
                 -moz-border-radius: 5px;
                 -webkit-border-radius: 5px;
                 border-radius: 5px;
                 line-height: 16px;
                 background-color: #6DE7DA;
                 padding: 5px;
                 margin-right: 5px;
                 color: #fff;
                 text-decoration: none;
                 ">
                {{ 'Message.Actions.Autorized'|trans() }}
              </a>
            </div>
          </td>

          <td width="100" style="min-width: 100px;">
            <div style="width: 100px;">
              <a href="{{url ~  path('portal_message_restore',{'token':token,'partitionTag':msg.partitionTag,'mailId':msg.getMailIdAsString(),'recipientId':msg.rid.id}) }}"
                 title="{{ 'Message.Actions.RestoreMessage'|trans() }}" style="font-size:16px;
                 -moz-border-radius: 5px;
                 -webkit-border-radius: 5px;
                 border-radius: 5px;
                 line-height: 16px;
                 background-color: #31B1BF;
                 padding: 5px;
                 color: #fff;
                 text-decoration: none;
                 ">
                {{ 'Message.Actions.Restore'|trans() }}</a>
            </div>
          </td>

        </tr>
      {% endfor %}

      <tr>
        <td colspan="3">
          <div style="text-align:center">
            <a href="{{ url }}">{{ url }}</a>
          </div>
        </td>
      </tr>

    </tbody>
  </table>
{% endif %}
