{% for msg in msgs %}
    <tr>
        <td>{{ msg.message_id }}</td>
        <td>{{ msg.from_addr }}</td>
        <td>{{ msg.subject }}</td>
        <td>{{ msg.time_iso|date('d-m-Y') }}</td>
        <td>
            <a href="#" data-modal-method-type="GET" data-url-modal-content="{{ path('message_show', {'partitionTag' : msg.partition_tag, 'mailId' : msg.mail_id, 'rid' : msg.rid}) }}"  class="btn-open-modal btn btn-info float-right"><i class="fas fa-info"></i></a>
        </td>
    </tr>
{% endfor %}