{% for msg in msgs %}
    <tr>
        <td data-title="{{ 'Search.MailId'|trans }}">{{ msg.mail_id }}</td>
        <td data-title="{{ 'Search.Sender'|trans }}">{{ msg.from_addr }}</td>
        <td data-title="{{ 'Search.Recipient'|trans }}">{{ msg.email }}</td>
        <td data-title="{{ 'Search.Subject'|trans }}">{{ msg.subject }}</td>
        <td data-title="{{ 'Search.Date'|trans }}">{{ msg.time_iso|date('d-m-Y') }}</td>

        {% if (activeFilters.bspamLevelMin is defined and activeFilters.bspamLevelMin|default('') != '' and activeFilters.bspamLevelMin != 0)
            or (activeFilters.bspamLevelMax is defined and activeFilters.bspamLevelMax|default('') != '' and activeFilters.bspamLevelMax != 0) %}
            <td>{{ msg.bspam_level }}</td>
        {% else %}
            <td style="display: none;"></td>
        {% endif %}

        {% if activeFilters['size'] is defined %}
            <td class="size-column">{{ msg.size }}</td>
        {% else %}
            <td class="size-column" style="display: none;"></td>
        {% endif %}

        {% if activeFilters['host'] is defined %}
            <td class="host-column">{{ msg.host }}</td>
        {% else %}
            <td class="host-column" style="display: none;"></td>
        {% endif %}

        {% if activeFilters['replyTo'] is defined %}
            <td class="reply-to-column">{{ msg.replyTo }}</td>
        {% else %}
            <td class="reply-to-column" style="display: none;"></td>
        {% endif %}

        <td>
            {% if messageType == 'incoming' %}
                <a href="#" data-modal-method-type="GET"
                   data-url-modal-content="{{ path('message_show', {'partitionTag' : msg.partition_tag, 'mailId' : msg.mail_id, 'rid' : msg.rid}) }}"
                   class="btn-open-modal btn btn-info float-right"><i class="fas fa-info"></i></a>
            {% else %}
                <a href="#" data-modal-method-type="GET"
                   data-url-modal-content="{{ path('out_message_show', {'partitionTag' : msg.partition_tag, 'mailId' : msg.mail_id, 'rid' : msg.rid}) }}"
                   class="btn-open-modal btn btn-info float-right"><i class="fas fa-info"></i></a>
            {% endif %}
        </td>
    </tr>
{% endfor %}
