{% extends 'base.html.twig' %}

{% block title %}
    {{ 'Search.Title'|trans }}
{% endblock %}

{% block body %}
    <div class="m-4">
        <h3 class="mb-3">
            {{ 'Search.Title'|trans }}
        </h3>

        <button type="button" data-toggle="collapse" aria-expanded="true" data-target="#filterContainer" id="toggleFilters" class="btn btn-primary mb-3">
            {{ 'Generics.labels.filters'|trans }}
            <span id="toggleArrow" class="arrow-right"></span>
        </button>

        <div id="filterContainer" class="collapse show filtres mt-3 mb-5 col-md-12">
            {{ form_start(form) }}
            <div class="form-row">
                <div class="col-md-6">
                    {{ form_row(form.startDate) }}
                </div>
                <div class="col-md-6">
                    {{ form_row(form.endDate) }}
                </div>
            </div>

            <!-- From Address and Email -->
            <div class="form-row">
                <div class="col-md-6">
                    {{ form_row(form.fromAddr) }}
                </div>
                <div class="col-md-6">
                    {{ form_row(form.email) }}
                </div>
            </div>

            <!-- Subject and Mail ID -->
            <div class="form-row">
                <div class="col-md-6">
                    {{ form_row(form.subject) }}
                </div>
                <div class="col-md-6">
                    {{ form_row(form.mailId) }}
                </div>
            </div>

            <!-- Button to toggle advanced filters -->
            <button type="button" data-toggle="collapse" aria-expanded="false" data-target="#advancedFilters" id="toggleAdvancedFilters" class="btn btn-secondary mb-4 mt-3">
                {{ 'Search.AdvancedFilter'|trans }}
            </button>

            <!-- Advanced filters section -->
            <div id="advancedFilters" class="collapse">
                {{ form_row(form.replyTo) }}
                <div class="form-row">
                    <div class="col-md-6">
                        {{ form_row(form.bspamLevelMin) }}
                    </div>
                    <div class="col-md-6">
                        {{ form_row(form.bspamLevelMax, { 'attr': {'class': 'ml-2' } }) }}
                    </div>
                </div>
                <div class="form-row">
                    <div class="col-md-6">
                        {{ form_row(form.sizeMin) }}
                    </div>
                    <div class="col-md-6">
                        {{ form_row(form.sizeMax, { 'attr': { 'class': 'ml-2' } }) }}
                    </div>
                </div>
                <div class="form-row">
                    <div class="col-md-6">
                        {{ form_row(form.host) }}
                    </div>
                </div>

            </div>

            <div class="form-group">
                <label id="label_messagetype">
                    {{ form_label(form.messageType) }}
                </label>
                <div class="toggle-button-group">
                    {% for choice in form.messageType %}
                        <div class="toggle-label">
                            {{ form_widget(choice, {'attr': {'class': 'toggle-input'}}) }}
                        </div>
                    {% endfor %}
                </div>
            </div>
            <div id="submit" class="mt-3">
                {{ form_widget(form.submit) }}
                <a href="{{ path('advanced_search') }}" id="search_filter_reset" class="btn btn-secondary">
                    {{ 'Search.ResetFilters'|trans }}
                </a>
            </div>
            {{ form_end(form) }}
        </div>

        <div class="table-responsive" id="advancedSearchResult">
            <table class="table table-hover search">
                <thead>
                    <tr class="table-header">
                        <th>
                            {{ knp_pagination_sortable(messagesRecipients, 'Search.MailId'|trans, 'mr.mailId', {}, {'_fragment': 'advancedSearchResult'}) }}
                        </th>
                        <th>
                            {{ knp_pagination_sortable(messagesRecipients, 'Search.Sender'|trans, 'm.fromAddr', {}, {'_fragment': 'advancedSearchResult'}) }}
                        </th>
                        <th>
                            {{ knp_pagination_sortable(messagesRecipients, 'Search.Recipient'|trans, 'maddr.email', {}, {'_fragment': 'advancedSearchResult'}) }}
                        </th>
                        <th>
                            {{ knp_pagination_sortable(messagesRecipients, 'Search.Subject'|trans, 'm.subject', {}, {'_fragment': 'advancedSearchResult'}) }}
                        </th>
                        <th>
                            {{ knp_pagination_sortable(messagesRecipients, 'Search.Date'|trans, 'm.timeIso', {}, {'_fragment': 'advancedSearchResult'}) }}
                        </th>
                        <th>
                            {{ knp_pagination_sortable(messagesRecipients, 'Search.AmavisOutput'|trans, 'mr.bspamLevel', {}, {'_fragment': 'advancedSearchResult'}) }}
                        </th>
                        {% if (
                            activeFilters['sizeMin'] is defined and activeFilters['sizeMin'] is not null)
                            or (activeFilters['sizeMax'] is defined and activeFilters['sizeMax'] is not null)
                        %}
                            <th>
                                {{ knp_pagination_sortable(messagesRecipients, 'Search.Size'|trans, 'm.size', {}, {'_fragment': 'advancedSearchResult'}) }}
                            </th>
                        {% endif %}
                        {% if activeFilters['host'] is defined and activeFilters['host'] is not null %}
                            <th>
                                {{ knp_pagination_sortable(messagesRecipients, 'Search.Host'|trans, 'm.host', {}, {'_fragment': 'advancedSearchResult'}) }}
                            </th>
                        {% endif %}
                        {% if activeFilters['replyTo'] is defined and activeFilters['replyTo'] is not null %}
                            <th>
                                {{ 'Search.ReplyTo'|trans }}
                            </th>
                        {% endif %}
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    {% include 'search/_messages.html.twig' with { 'messageRecipients': messagesRecipients } %}
                </tbody>
            </table>
        </div>
        {% include 'common/_paginationAndPerPageSelector.html.twig' with { 'pagination': messagesRecipients } %}
    </div>

    <style>

        /* Style pour le label lorsque le bouton radio est sélectionné */
        input[type="radio"][name="search_filter[messageType]"]:checked + .form-check-label {
            background-color: #6de7da;
        }

        #toggleArrow {
            display: inline-block;
            margin-left: 10px;
            width: 0;
            height: 0;
            border-style: solid;
            border-width: 6px 4px 0 4px;
            border-color: #fff transparent transparent transparent;
            vertical-align: middle;
        }

        .arrow-right {
            transform: rotate(0deg);
        }

        .arrow-down {
            transform: rotate(270deg);
        }

        .switch-container {
            display: flex;
            align-items: center;
        }

        #search_filter_submit,
        #search_filter_reset {
            font-size: 1.2rem;
        }

        .toggle-button-group {
            display: inline-flex;
            border-radius: 4px;
            overflow: hidden;
            border: 1px solid #ccc;
        }

        .toggle-label {
            margin: 0;
            padding: 0;
            cursor: pointer;
        }

        .toggle-label .form-check {
            margin: 0;
        }

        .toggle-label .form-check-label {
            padding: 10px 20px;
            background-color: #e0e0e0;
            color: #000;
            border-right: 1px solid #ccc;
            display: inline-block;
        }

        .toggle-label:last-child .form-check-label {
            border-right: none;
        }

        .toggle-label.active .form-check-label {
            background-color: #6de7da;
            color: #000000;
        }

        .form-check {
            padding: 0;
        }

        .form-check-label {
            cursor: pointer;
        }

        .form-check-input {
            display: none;
        }

        #label_messagetype {
            width: 100%;
        }

        #label_messagetype legend {
            width: 100%;
            font-size: 0.9rem;
        }
    </style>

{% endblock %}
