<div data-controller="quota">
    <h3>{{ 'Entities.fields.quota'|trans }}</h3>
    <div class="quota" data-quota-target="container">
        {% for quotaField in form.quota %}
            <div class="quota-item">
                {{ form_row(quotaField.quota_emails) }}
                {{ form_row(quotaField.quota_seconds) }}
                <button type="button" class="btn btn-danger btn-sm remove-quota" data-action="click->quota#removeQuota">{{ 'Generics.actions.delete'|trans }}</button>
            </div>
        {% endfor %}
    </div>
    <button type="button" class="btn btn-primary btn-sm add_quota_link mt-2" data-action="click->quota#addQuota">{{ 'Entities.actions.addQuota'|trans }}</button>
    <template data-quota-target="template">
        <div class="quota-item">
            {{ form_row(form.quota.vars.prototype.quota_emails) }}
            {{ form_row(form.quota.vars.prototype.quota_seconds) }}
            <button type="button" class="btn btn-danger btn-sm remove-quota" data-action="click->quota#removeQuota">{{ 'Generics.actions.delete'|trans }}</button>
        </div>
    </template>
</div>