<!doctype html>
<html  lang="{{ app.request.locale }}">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="manifest" href="{{ asset('site.webmanifest') }}">
    {% block head_css %}
      <!-- Bootstrap Core CSS -->
      <link href="{{ asset('css/bootstrap/bootstrap.css')}}" rel="stylesheet">
      <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,400;0,500;1,800&display=swap" rel="stylesheet"> 
      <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
      <!--        <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs4/dt-1.10.18/b-1.5.4/b-colvis-1.5.4/cr-1.5.0/fc-3.2.5/fh-3.1.4/kt-2.5.0/r-2.2.2/rg-1.1.0/rr-1.2.4/sc-1.5.0/sl-1.2.6/datatables.min.css"/>
      -->
      {#      <link href="https://stackpath.bootstrapcdn.com/bootswatch/4.4.1/yeti/bootstrap.min.css" rel="stylesheet" integrity="sha384-bWm7zrSUE5E+21rA9qdH5frkMpXvqjQm/WJw4L5PYQLNHrywI5zs5saEjIcCdGu1" crossorigin="anonymous"><link href="https://stackpath.bootstrapcdn.com/bootswatch/4.4.1/yeti/bootstrap.min.css" rel="stylesheet" integrity="sha384-bWm7zrSUE5E+21rA9qdH5frkMpXvqjQm/WJw4L5PYQLNHrywI5zs5saEjIcCdGu1" crossorigin="anonymous">#}
      <link rel="stylesheet" href="//cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css">

      <link rel="stylesheet" href="{{ asset('css/jquery-ui.css') }}">
      <link href="{{ asset('lib/select2/select2.min.css')}}" rel="stylesheet" type="text/css">
      <link href="{{ asset('css/jquery.mCustomScrollbar.min.css')}}" rel="stylesheet" type="text/css">
      {#      <link rel="stylesheet" href="{{ asset('css/sb-admin.css') }}">#}
      <link rel="stylesheet" href="{{ asset('css/styles.css') }}">
      <link rel="stylesheet" href="{{ asset('css/nav.css') }}">
      <link rel="shortcut icon" href="{{ asset('img/favicon.ico') }}" />
    {% endblock %}

    <title>{% block title %}{% endblock %}</title>
  </head>

  {% set bodyClass="" %}
  {%  if app.request.get('_route') == 'app_login' %}
    {% set bodyClass="not-auth" %}
  {% elseif app.request.get('_route') == 'check_message' %}
    {% set bodyClass="validate-address" %}
  {% endif %}

  <body id="page-top" data-base-path="{{ app.request.basePath }}" class="not-auth">
    <div class="page-wrapper default-theme sidebar-bg bg1 {% if is_granted('IS_AUTHENTICATED_FULLY') %}toggled{% endif %}"> 
      <main class="page-content">
        <div id="overlay" class="overlay"></div>         

        <div class="container-fluid mb-5 mt-5">
          {% block body %}

          {% endblock %}
        </div>
      </main>
      {% block footer %}
        <footer class="sticky-footer w-100">
          <div class="container my-auto">
            <div class="copyright text-center my-auto">

              <span>AgentJ {{ agentjVersion }} - Copyright © <a href="https://www.probesys.com" target="_blank">Probesys</a> {{ "now"|date('Y') }}</span>
            </div>
          </div>
        </footer>
      {% endblock %}        
    </div>


    {% block bottom_js %}

      {{ encore_entry_script_tags('agentj') }}

    {% endblock %}

    </div>
  </body>
</html>
