
<nav id="sidebar" class="sidebar-wrapper">
  <div class="sidebar-content">
    <!-- sidebar-menu  -->
    <div class=" sidebar-item sidebar-menu">
      <ul>
        <li class="sidebar-dropdown {%  if route == 'message'%}active{% endif %}">
          <a href="#">
            <i class="fa fa-envelope"></i>
            <span class="menu-text">{{'Navigation.mailBlocked'|trans()}}</span>
            {#            <span class="badge badge-pill badge-warning">New</span>#}
          </a>
          <div class="sidebar-submenu">
            <ul>
              <li class="{%  if route == 'message' and route_params['type'] == 'untreated'%}active{% endif %}" >
                <a href="{{path('message',{'type':''})}}">
                  <span class="badge badge-pill badge-primary">{{ msgs['untreated'] }}</span>
                  {{'Navigation.untreated'|trans}}
                </a>
              </li> 
                
                <li class="{%  if route == 'message' and route_params['type'] == 'spammed'%}active{% endif %}" >
                  <a href="{{path('message',{'type':'spam'})}}">
                    <span class="badge  pull-right badge-warning" id="nb-spammed-messages">{{ msgs['spammed'] }}</span>
                    {{'Navigation.spammed'|trans}} 
                  </a>
                </li> 

              <li class="{%  if route == 'message' and route_params['type'] == 'authorized'%}active{% endif %}" >
                <a href="{{path('message',{'type':'authorized'})}}">
                  <span class="badge badge-pill badge-success">{{ msgs['authorized'] }}</span>
                  {{'Navigation.authorized'|trans}}
                </a>
              </li>
              <li class="{%  if route == 'message' and route_params['type'] == 'banned'%}active{% endif %}">
                <a  href="{{path('message',{'type':'banned'})}}">
                  <span class="badge  pull-right badge-danger" id="nb-authorized-messages">{{ msgs['banned'] }}</span>
                  {{'Navigation.banned'|trans}} 
                </a>
              </li> 

                <li class="{%  if route == 'message' and route_params['type'] == 'delete'%}active{% endif %}">
                  <a  href="{{path('message',{'type':'delete'})}}">
                    <span class="badge  pull-right badge-warning" id="nb-deleted-messages">{{ msgs['delete'] }}</span>
                    {{'Navigation.Messagedelete'|trans}}
                  </a>
                </li>


              <li class="nav-link {%  if route == 'message' and route_params['type'] == 'restored'%}active{% endif %}">
                <a  href="{{path('message',{'type':'restored'})}}">
                  <span class="badge  pull-right badge-danger" id="nb-restored-messages">{{ msgs['restored'] }}</span>
                  {{'Navigation.MessageRestored'|trans}}
                </a>
              </li>
            </ul>
          </div>
        </li>
        <li class="{%  if route == 'wblist' and route_params['type']=='W' %}active{% endif %}">
          <a href="{{path('wblist',{'type':'W'})}}">
            <i class="fa fa-paper-plane"></i>
            <span class="menu-text">{{'Navigation.whitelist'|trans}}</span>
          </a>
        </li>     
        <li class="{%  if route == 'wblist' and route_params['type']=='B'%}active{% endif %}">
          <a href="{{path('wblist',{'type':'B'})}}">
            <i class="fa fa-user-slash"></i>
            <span class="menu-text">{{'Navigation.blacklist'|trans}}</span>
          </a>
        </li>         

        {% if is_granted('ROLE_ADMIN') %}
          <li class="sidebar-dropdown {%  if (route == 'users_email_index' or route == 'users_local_index')  or route == 'users_email_alias_index' %} active {% endif %}">
            <a href="#">
              <i class="fa fa-user-friends"></i>
              <span class="menu-text">{{'Navigation.userlist.title'|trans}}</span>
            </a>
            <div class="sidebar-submenu">
              <ul>
                {% if is_granted('ROLE_SUPER_ADMIN') %}
                  <li class="{%  if route == 'users_local_index'%}active{% endif %}">
                    <a href="{{path('users_local_index')}}">
                      {{'Navigation.userlist.localUsers'|trans}}
                    </a>
                  </li>
                {% endif %}
                <li class="{%  if route == 'users_email_index'%}active{% endif %}">
                  <a  href="{{path('users_email_index')}}">
                    {{'Navigation.userlist.emailUsers'|trans}} 
                  </a>
                </li>
                <li class="{%  if route == 'users_email_alias_index'%}active{% endif %}">
                  <a href="{{path('users_email_alias_index')}}">
                    {{'Navigation.userlist.emailAliasUsers'|trans}} 
                  </a>
                </li>
              </ul>
            </div>
          </li>
          <li class="{%  if route == 'groups_index'%}active{% endif %}">
            <a href="{{path('groups_index')}}">
              <i class="fa fa-users"></i>
              <span class="menu-text">{{'Navigation.grouplist'|trans}}</span>
            </a>
          </li>
          <li class="{%  if route == 'domain_index'%}active{% endif %}">
            <a href="{{path('domain_index')}}">
              <i class="fa fa-globe"></i>
              <span class="menu-text">{{'Navigation.domainlist'|trans}}</span>
            </a>
          </li>

          {% if is_granted('ROLE_SUPER_ADMIN') %}
            <li class="{%  if route == 'policy_index'%}active{% endif %}">
              <a href="{{path('policy_index')}}">
                <i class="fa fa-gem"></i>
                <span class="menu-text">{{'Navigation.policy'|trans}}</span>
              </a>
            </li>

          {% endif %}
        {% endif %}        


      </ul>
    </div>
    <!-- sidebar-menu  -->
  </div>
  <!-- sidebar-footer  -->
  {#<div class="sidebar-footer">
    <div class="dropdown">

      <a href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <i class="fa fa-bell"></i>
        <span class="badge badge-pill badge-warning notification">3</span>
      </a>
      <div class="dropdown-menu notifications" aria-labelledby="dropdownMenuMessage">
        <div class="notifications-header">
          <i class="fa fa-bell"></i>
          Notifications
        </div>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item" href="#">
          <div class="notification-content">
            <div class="icon">
              <i class="fas fa-check text-success border border-success"></i>
            </div>
            <div class="content">
              <div class="notification-detail">Lorem ipsum dolor sit amet consectetur adipisicing
                elit. In totam explicabo</div>
              <div class="notification-time">
                6 minutes ago
              </div>
            </div>
          </div>
        </a>
        <a class="dropdown-item" href="#">
          <div class="notification-content">
            <div class="icon">
              <i class="fas fa-exclamation text-info border border-info"></i>
            </div>
            <div class="content">
              <div class="notification-detail">Lorem ipsum dolor sit amet consectetur adipisicing
                elit. In totam explicabo</div>
              <div class="notification-time">
                Today
              </div>
            </div>
          </div>
        </a>
        <a class="dropdown-item" href="#">
          <div class="notification-content">
            <div class="icon">
              <i class="fas fa-exclamation-triangle text-warning border border-warning"></i>
            </div>
            <div class="content">
              <div class="notification-detail">Lorem ipsum dolor sit amet consectetur adipisicing
                elit. In totam explicabo</div>
              <div class="notification-time">
                Yesterday
              </div>
            </div>
          </div>
        </a>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item text-center" href="#">View all notifications</a>
      </div>
    </div>
    <div class="dropdown">
      <a href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <i class="fa fa-envelope"></i>
        <span class="badge badge-pill badge-success notification">7</span>
      </a>
      <div class="dropdown-menu messages" aria-labelledby="dropdownMenuMessage">
        <div class="messages-header">
          <i class="fa fa-envelope"></i>
          Messages
        </div>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item" href="#">
          <div class="message-content">
            <div class="pic">
              <img src="img/user.jpg" alt="">
            </div>
            <div class="content">
              <div class="message-title">
                <strong> Jhon doe</strong>
              </div>
              <div class="message-detail">Lorem ipsum dolor sit amet consectetur adipisicing
                elit. In totam explicabo</div>
            </div>
          </div>

        </a>
        <a class="dropdown-item" href="#">
          <div class="message-content">
            <div class="pic">
              <img src="img/user.jpg" alt="">
            </div>
            <div class="content">
              <div class="message-title">
                <strong> Jhon doe</strong>
              </div>
              <div class="message-detail">Lorem ipsum dolor sit amet consectetur adipisicing
                elit. In totam explicabo</div>
            </div>
          </div>

        </a>
        <a class="dropdown-item" href="#">
          <div class="message-content">
            <div class="pic">
              <img src="img/user.jpg" alt="">
            </div>
            <div class="content">
              <div class="message-title">
                <strong> Jhon doe</strong>
              </div>
              <div class="message-detail">Lorem ipsum dolor sit amet consectetur adipisicing
                elit. In totam explicabo</div>
            </div>
          </div>
        </a>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item text-center" href="#">View all messages</a>

      </div>
    </div>
    <div class="dropdown">
      <a href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <i class="fa fa-cog"></i>
        <span class="badge-sonar"></span>
      </a>
      <div class="dropdown-menu" aria-labelledby="dropdownMenuMessage">
        <a class="dropdown-item" href="#">My profile</a>
        <a class="dropdown-item" href="#">Help</a>
        <a class="dropdown-item" href="#">Setting</a>
      </div>
    </div>
    <div>
      <a href="#">
        <i class="fa fa-power-off"></i>
      </a>
    </div>
    <div class="pinned-footer">
      <a href="#">
        <i class="fas fa-ellipsis-h"></i>
      </a>
    </div>
  </div>#}
</nav>
