{% if verified %}
    {% set title = 'Message.HumanAuthentication.verified.title' | trans %}
{% else %}
    {% set title = 'Message.HumanAuthentication.toVerify.title' | trans %}
{% endif %}

<!DOCTYPE html>
<html lang="TODO">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{{ title }}</title>
        {{ encore_entry_script_tags('new/app') }}
        {{ encore_entry_link_tags('new/app') }}
        <link rel="stylesheet" href="{{ path('human_authentication_stylesheet', { id: domain.id }) }}">
    </head>

    <body class="layout layout--human-authentication">
        <main class="layout__body wrapper wrapper--smaller wrapper--center">
           <div class="panel panel--rounded flow flow--large">
                <img src="{{ domain_logo_asset(domain) }}" class="human-authentication-logo">

                <div class="flow">
                    {% if not verified %}
                        {% if domain.message %}
                            {{ domain.message | raw }}
                        {% else %}
                            <div class="flow flow--smaller">
                                <h1>
                                    {{ title }}
                                </h1>

                                <p class="text--secondary">
                                    {{ 'Message.HumanAuthentication.toVerify.content' | trans }}
                                </p>
                            </div>
                        {% endif %}

                        {{ form_start(form, { attr: { class: 'flow' } }) }}
                            {{ form_widget(form) }}

                            <button class="button--primary button--block">
                                {{ button_label|default('Message.HumanAuthentication.toVerify.submit' | trans) }}
                            </button>
                        {{ form_end(form) }}
                    {% else %}
                        {% if domain.confirmCaptchaMessage %}
                            {{ domain.confirmCaptchaMessage | raw }}
                        {% else %}
                            <div class="flow flow--smaller">
                                <h1>
                                    {{ title }}
                                </h1>

                                <p class="text--secondary">
                                    {{ 'Message.HumanAuthentication.verified.content' | trans }}
                                </p>
                            </div>
                        {% endif %}
                    {% endif %}
                </div>
           </div>
        </main>

        <footer class="layout__footer">
            {# TODO #}
        </footer>
    </body>
</html>
