{% extends 'base.new.html.twig' %}

{% form_theme form with ['forms/agentj_layout.html.twig'] only %}

{% if verified %}
    {% set title = 'Message.HumanAuthentication.verified.title' | trans %}
{% else %}
    {% set title = 'Message.HumanAuthentication.toVerify.title' | trans %}
{% endif %}

{% block title %}{{ title }}{% endblock %}

{% block custom_stylesheets %}
    <link rel="stylesheet" href="{{ path('human_authentication_stylesheet', { id: domain.id }) }}">
{% endblock %}

{% block body %}
    <div class="human-authentication wrapper wrapper--smaller wrapper--center">
        <div class="panel panel--rounded panel--padding-large flow flow--large">
            <img src="{{ domain_logo_asset(domain) }}" class="human-authentication__logo">

            <div class="flow">
                {% if not verified %}
                    {% if domain.message %}
                        {{ domain.message | raw }}
                    {% else %}
                        <div class="flow flow--small">
                            <h1>{{ title }}</h1>

                            <p class="text--secondary">
                                {{ 'Message.HumanAuthentication.toVerify.content' | trans }}
                            </p>
                        </div>
                    {% endif %}

                    {{ form(form) }}
                {% else %}
                    {% if domain.confirmCaptchaMessage %}
                        {{ domain.confirmCaptchaMessage | raw }}
                    {% else %}
                        <div class="flow flow--small">
                            <h1>{{ title }}</h1>

                            <p class="text--secondary">
                                {{ 'Message.HumanAuthentication.verified.content' | trans }}
                            </p>
                        </div>
                    {% endif %}
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}
